:root{
  --primary:#1EBEA5;
  /* WHITE */
  --secondary:#FFFFFF;
  /* HEADER */
  --third:#EDEDED;
  /* CHATS */
  --fourth:#EBEBEB;
  /* INPUT */
  --fifth:#F0F0F0;
  /* FRIEND */
  --friend:#DBF8C4;
  /* ME */
  --me:#FCFCFC;
  /* DATE */
  --date:#E2F2FA;   
}
body{
  font-family:  Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  font-size: 1.1rem;
  overflow-y: hidden;
}